Libraries & Data import

In [135]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import openpyxl as op
from sqlalchemy import create_engine
from IPython.display import display

df_excel= pd.read_excel(
    "/Users/alejandrogomez-paz/Downloads/online_retail_II 2.xlsx",
    sheet_name="Year 2009-2010")

engine = create_engine('postgresql+psycopg2://postgres:2735@localhost:5432/mydatabase')

df_excel.to_sql('online_retail', engine, if_exists = 'replace', index=False)

df_unclean = df_excel

%load_ext sql

%sql postgresql+psycopg2://postgres:2735@localhost:5432/mydatabase

%config SqlMagic.displaycon = 'None'

ERROR:root:The 'displaycon' trait of a SqlMagic instance expected a boolean, not the str 'None'.

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Data Quality Analysis

In [136]:
df1 = pd.read_sql(
    'SELECT * FROM online_retail WHERE "Price" <= 0 limit 3',
    engine)

df2 = pd.read_sql(
    'SELECT * FROM online_retail WHERE "Quantity" <= 0 limit 3',
    engine)


df3 = pd.read_sql(
    'SELECT * FROM online_retail WHERE "Customer ID" IS NULL limit 3',
    engine)

df4 = pd.read_sql(
    'SELECT * FROM online_retail WHERE "Description" IS NULL limit 3',
    engine)

n = df_unclean.duplicated().sum()
print(n) #PROBLEM 1: duplicated rows
display(df1) #PROBLEM 2 price = 0, if quantity posititve then assumed free sample/promotion OR cancelled purchase before fufillment
             # price = 0, if quanitty negative then ignored
display(df2) #negative quantity values indicate return
display(df3) #PROBLEM 3 Missing customer values, can treat as unkown and grouped
display(df4) #PROBLEM 4 Missing description values always have price = 0, can be ignored
df_unclean["InvoiceDate"].max() #Problem #5: Data only goes up to Dec 09 2010, meaning that December is not completed

6865

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489464,21733,85123a mixed,-96,2009-12-01 10:52:00,0.0,None,United Kingdom
1,489463,71477,short,-240,2009-12-01 10:52:00,0.0,None,United Kingdom
2,489467,85123A,21733 mixed,-192,2009-12-01 10:53:00,0.0,None,United Kingdom

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
1,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.0,Australia
2,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.0,Australia

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489464,21733,85123a mixed,-96,2009-12-01 10:52:00,0.0,None,United Kingdom
1,489463,71477,short,-240,2009-12-01 10:52:00,0.0,None,United Kingdom
2,489467,85123A,21733 mixed,-192,2009-12-01 10:53:00,0.0,None,United Kingdom

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489521,21646,None,-50,2009-12-01 11:44:00,0.0,None,United Kingdom
1,489655,20683,None,-44,2009-12-01 17:26:00,0.0,None,United Kingdom
2,489659,21350,None,230,2009-12-01 17:39:00,0.0,None,United Kingdom

Timestamp('2010-12-09 20:01:00')

Data Cleaning

In [137]:
df_clean = df_unclean.drop_duplicates().copy() #fixes duplicates issue

df_clean = df_clean[df_clean["Price"] > 0].copy() #fixes nonreal price, missing desciriptions, and many negative quantities

df_clean['IsReturn'] = df_clean['Quantity'] < 0 #creates true/false for returns

df_clean["Customer ID"] = df_clean["Customer ID"].astype(str).fillna("Unknown") #groups unkown customer IDs

df_clean["Revenue"] = df_clean["Quantity"] * df_clean["Price"] #creates net revenue colomn

df = df_clean[df_clean["InvoiceDate"] < '2010-12-01'].copy()

df.to_csv("/Users/alejandrogomez-paz/Documents/df.csv", index=False)

df_clean.to_csv("/Users/alejandrogomez-paz/Documents/df_clean.csv", index=False)

df.head(3)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,IsReturn,Revenue
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,False,83.4
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,False,81.0
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,False,81.0